<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Task List</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="swithActive" (change)="toggleFilterStatus($event)">
          <label class="form-check-label" for="swithActive">Hide INACTIVE/COMPLETED tasks</label>
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="swithDate" (change)="toggleFilterDate($event)">
          <label class="form-check-label" for="swithDate">Hide expired tasks</label>
        </div>
      </div>

      <div class="col">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle">Sort By</button>
          <div class="dropdown-content">
            <button class="dropdown-item" type="button" (click)="sortByDueDateL2O()">Due Date (Latest to Oldest)</button>
            <button class="dropdown-item" type="button" (click)="sortByDueDateO2L()">Due Date (Oldest to Latest)</button>
            <button class="dropdown-item" type="button" (click)="sortByPriorityH2L()">Priority (High to Low)</button>
            <button class="dropdown-item" type="button" (click)="sortByPriorityL2H()">Priority (Low to High)</button>

          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Description</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks | async">
        <td>{{task.description}}</td>
        <td [ngClass]="getDateStatus(task.dueDate)">{{task.dueDate}}</td>
        <td [ngClass]="getStatusClass(task.status)">{{task.status}}</td>
        <td>{{task.priority}}</td>
        <td>
          <button (click)="deleteTask(task.tid)" class="btn btn-danger">Delete</button>
          <button (click)="updateTask(task.tid)" class="btn btn-warning" style="margin-left: 10px">Update</button>
          <button (click)="taskDetails(task.tid)" class="btn btn-info" style="margin-left: 10px">Details</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
