<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Task List</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="swithActive" (change)="toggleFilterStatus($event)">
          <label class="form-check-label" for="swithActive">Hide INACTIVE/COMPLETED tasks</label>
        </div>

        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="swithDate" (change)="toggleFilterDate($event)">
          <label class="form-check-label" for="swithDate">Hide expired tasks</label>
        </div>
      </div>

      <div class="col">
        <a>Sort By: </a>
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle">{{sortBy}}</button>
          <div class="dropdown-content">
            <button class="dropdown-item" type="button" (click)="getTasks2()">Default</button>
            <button class="dropdown-item" type="button" (click)="sortByDueDateL2O()">Due Date (Latest to Oldest)</button>
            <button class="dropdown-item" type="button" (click)="sortByDueDateO2L()">Due Date (Oldest to Latest)</button>
            <button class="dropdown-item" type="button" (click)="sortByPriorityH2L()">Priority (High to Low)</button>
            <button class="dropdown-item" type="button" (click)="sortByPriorityL2H()">Priority (Low to High)</button>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Description</th>
        <th>Due Date</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{task.description}}</td>
        <td [ngClass]="getDateStatus(task.dueDate)">{{task.dueDate}}</td>
        <td [ngClass]="getStatusClass(task.status)">{{task.status}}&nbsp;&nbsp;
        <button type="button" class="btn btn-success btn-sm" *ngIf="task.status === 'ACTIVE'" (click)="makeTaskComplete(task.tid)" title="Mark as complete"><i class="material-icons" style="font-size: smaller; font-weight: bolder">done</i></button></td>
        <td [ngClass]="getStatusClass(task.priority)">{{task.priority}}</td>
        <td>
          <button (click)="deleteTask(task.tid)" class="btn btn-danger" title="Delete"><i class="material-icons">delete</i></button>
          <button (click)="updateTask(task.tid)" class="btn btn-warning" title="Update" style="margin-left: 10px"><i class="material-icons">update</i></button>
          <button (click)="taskDetails(task.tid)" class="btn btn-info" title="Details" style="margin-left: 10px"><i class="material-icons">info</i></button>
        </td>
      </tr>
      </tbody>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" [length]="totalElements"
                   (page)="nextPage($event)">
    </mat-paginator>
  </div>
</div>
