
.status-active {
  color: green;
  font-weight: bold;
}

.status-inactive {
  color: #9a9204;
  /*font-weight: bold;*/
}

.status-completed {
  color: #e70cdf;
  /*font-weight: bold;*/
}

.status-expired{
  color: red;
}

.status-valid{
  color: #3e8e41;
}

.priority-high{
  color: red;
  font-weight: bold;
}

.priority-medium{
  color: #9a9204;
}

.priority-low{
  color: green;
}
